{% extends 'customer/base.html' %} {% load static %} {% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->

    <div class="row">
      <aside class="col-lg-9">
        <div class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" class="text-right" width="200"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart %}
              <tr>
                <td>
                  <figure class="itemside align-items-center">
                    <div class="aside">
                      <img src="{{ item.product.image.url }}" class="img-sm" />
                    </div>
                    <figcaption class="info">
                      <a href="#" class="title text-dark"
                        >{{item.product.product_name}}</a
                      >
                      <p class="text-muted small">
                        {{item.product.description}}
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <!-- col.// -->
                  <div class="col">
                    <div class="input-group input-spinner">
                      <div class="input-group-prepend">
                        <button
                          class="btn btn-light update_cart"
                          data-qty="product_qty{{ item.product.id }}"
                          data-stock="{{item.product.stock}}"
                          data-product-id="{{item.product.id}}"
                          data-btn-type="decrement"
                          type="button"
                        >
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="product_qty{{item.product.id}}"
                        value="1"
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-light update_cart"
                          data-qty="product_qty{{ item.product.id }}"
                          data-stock="{{item.product.stock}}"
                          data-product-id="{{item.product.id}}"
                          data-btn-type="increment"
                          type="button"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- input-group.// -->
                  </div>
                  <!-- col.// -->
                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price">Rs.{{item.product.price}}</var>
                    <small class="text-muted"> </small>
                  </div>
                  <!-- price-wrap .// -->
                </td>

                <td class="text-right">
                  <a
                    href="{% url 'customer:remove_cart' item.id %}"
                    class="btn btn-danger"
                  >
                    Remove</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">Rs.{{ grand_total }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right">00</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b">
                <strong>Rs.{{ grand_total }}</strong>
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img
                src="{% static './images/misc/payments.png' %}"
                height="26"
              />
            </p>
            <a
              href="{% url 'customer:order_complete' %}"
              class="btn btn-primary btn-block"
            >
              Checkout
            </a>
            <a href="{% url 'customer:store' %}" class="btn btn-light btn-block"
              >Continue Shopping</a
            >
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>

<script>
  var btnstatus = "";
  $(".update_cart").click(function () {
    // console.log('hello')
    let btntype = $(this).attr("data-btn-type");
    let selecteditemid = $(this).attr("data-qty");
    let selectedtxt = document.getElementById(selecteditemid);
    let currenttxtvalue = parseInt(selectedtxt.value);
    let currentitemstock = $(this).attr("data-stock");
    let selectedproductid = $(this).attr("data-product-id");

    if (btntype == "increment") {
      btnstatus = "increment";
      if (currenttxtvalue < currentitemstock) {
        var incrementedvalue = currenttxtvalue + 1;
        selectedtxt.value = incrementedvalue;
      }
    }

    if (btntype == "decrement") {
      btnstatus = "decrement";
      if (currenttxtvalue > 0) {
        var decrementedvalue = currenttxtvalue - 1;
        selectedtxt.value = decrementedvalue;
      }
    }

    $.ajaxSetup({
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
    });

    $.ajax({
      url: "{% url 'customer:update_cart' %}",
      method: "POST",
      data: {
        id: selectedproductid,
        qty: selectedtxt.value,
      },
      success: function (response) {
        let grandTotal = response.grand_total;
        console.log(grandTotal);
        $("#grand_total").html("<strong>Rs." + grandTotal + ".0</strong>");
        $("#total_price").html("<strong>Rs." + grandTotal + ".0</strong>");
      },
    });
  });
</script>

{% endblock %}
