{% extends 'seller/base.html' %}
{% load static %}

{% block content %}


<main class="col-md-9">
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">

        <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
            <article class="card-body">
                <header class="mb-4">
                    <h4 class="card-title">update_stock</h4>
                </header>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" form-group">
                        <label>Enter product No</label>
                        <input type="text" class="form-control" name="product_no" id="product_no"  onchange="productupdate()">
                    </div> <!-- form-group end.// -->
                    <div class=" form-group">
                        <label>Product name</label>
                        <input type="text" class="form-control" name="product_name" id="product_name">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Avilable stock</label>
                            <input type="number" class="form-control" name="stock" id="stock">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->  
                    
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>New stock</label>
                            <input type="number" class="form-control" name="new_stock" id="new_stock">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// --> 

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Update </button>
                    </div> <!-- form-group// -->
                    {{message}}
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        
        <br><br>
        <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


</main>

<script>

    function productupdate(){
        console.log($('#product_no').val())
    
    $.ajaxSetup({
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
    });

    $.ajax({
      url: "{% url 'Seller:get_current_stock' %}",
      method: "POST",
      data: {
        product_no : $('#product_no').val()
      },
      success: function (response) {
       
        console.log(response);
        $("#product_name").val(response.product_name)
        $("#stock").val(response.available_stock);
      },
    });

}
</script>


{% endblock %}